<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>SmhnoTDyfs1peEGid/FOCe3miV46Ei5d0LomJ0LFklZc/oNjz/rgOLX06lfAbJ5BQYZZg2OKWGzz1KlFIkm9yGZRJcfsLdB5Ed16SOp5z0daVwB7RRyb33dPdoIBNJNxgihqISbUYNCGBLqHNQa0fw/3XSuzUn2RPV2kNmbkyAo=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>oSSnEFdby6zmRqj1+w4N+g9k4qbENU71a5sdyBPFsb0AWDn5KPLiD9NlRlisHIIXYxjwFRU/K4GF37wsVrcbZg6UVNYMubD4JiY0wQcltO8fpTTicbPTQY3fGBNKU9obqXhbcyQaussU4AKQ/pKWIqDnip7V4NHlyCth8Bg1+xOuRucGXUTNRDEdSvYX9hqx</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>
