<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>jw/ya1ZgKPFT6HQIYyu67unsAQs9p+RSVwqw2JpUnUGtnHDDkuv/GB5Zt8Jv7e/tDw3n22W1mxTszW62jvuzwugvmk1sZ6M4qhEVXtSwqqfIM5deGyet3Ef0Dj2+oKyniMT9e+Qn3BMa/VtiRZFa7tDXeuqJI5+JgdFxUFCAAUM=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>dNsTNqZ7IFRYPnfEM80syRBxTtDQYw8Aa65U0SuR1ktofcNVasN/1KtJ3en0x6CUwCj1XP6/hIXuYLkyFS0PDGfElvTvIlRtIUrKKQhfJRKkYIjZjSldNYD6ii9WDrlA5NNJA4Z2e04P2JliJ8g7YOg5iK6EKwcfDhEEirn+ng31fiPYsL7Nd+xtWz+UPh6r</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>
