<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>rbfWcic/Fduw0pZTNSPwgE23qUDFOzJuAfPKLFao12bFPITo1+N/q4wVI4TV8s3NtQHKPKyxInZMuq9JGpVMh4j/Amf3iNoEvvMId4exipESsdXD2m/ElvGbC2I0CGLZroVttfeKqToDGuu9GIEwCgbtg0cfGn/3RUiO3pNpNQ8=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>7CdpNmBnoHyo1ZiuA4eqsNIvYnhGBkYn+VIRi/gZF4hfgKdFLwbu0WdyBK0/oIbO/V8ZilmTM05lmHXTeAJXdvflPBnqB3NLaXKn65a90TI6fP1CXugf/xfGRj7rvLv6ctBS15WUtjFUtIjt6csky9xZpAUTp2CDLNhr4GyWnpAiTHBZ6nWPVY8ChGhVoojo8sntdR4crxk=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>
